@media (min-width: 320px) and (max-width: 783px) {
  .header-main__menu,
  .header__top--login,
  .header__top--logo,
  .header__top--search,
  .main__product--selection-timer,
  .main__slider--bigimg,
  .second-clock {
    display: none;
  }

  .header-main {
    display: flex;
  }

  .header-main__menu-icon {
    margin: 30px 0 0 6.601%;
    display: inline-block;
    width: 23px;
    height: 5px;
    border-top: 3px solid rgb(246, 130, 53);
    border-bottom: 3px solid rgb(246, 130, 53);
    cursor: pointer;
  }

  .header-main__menu-icon-line {
    width: 100%;
    height: 3px;
    background: #f68235;
    display: inline-block;
    margin: 13px 0 0;
  }

  .header-main__menu-icon:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .header-main__menu-icon:hover .header-main__menu-icon-line {
    background: white;
  }

  .header-main__menu-icon:hover + .header-main__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43px;
    left: 0;
    background: black;
    margin-top: 6px;
    z-index: 999;
  }

  .header-main__menu:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43px;
    left: 0;
    background: black;
    margin-top: 6px;
    z-index: 999;
  }

  .header-main__mobile-logo {
    display: inline-block;
    width: 168px;
    height: 22px;
    margin: 29px 0 40px 7.595%;
  }

  .header-main__mobile-bag {
    display: inline-block;
    width: 18px;
    height: 22px;
    margin: 27px 0 0 9.245%;
  }

  .main {
    flex-direction: column;
  }

  .main__slider {
    width: 100%;
    margin: 0 0 26px;
  }

  .main__product--selection {
    width: 100%;
  }

  .header__top--menu {
    width: 100%;
    justify-content: center;
    top: 92px;
    left: 0;
  }

  .header__top--menu__shares,
  .header__top--menu__shares--item {
    width: 139px;
  }

  .header__top--menu-catalog-item,
  .header__top--menu__catalog {
    width: 139px;
  }

  .header__top--menu-shares-link img {
    left: 8px;
  }

  .header__top--menu-catalog-link span {
    width: 93%;
  }

  .header__top--menu__shares:hover {
    height: 47px;
    margin-top: -16px;
  }

  .header__top--menu__shares:hover .header__top--menu__shares--item {
    height: 46px;
    margin: 0 0 0 2px;
  }

  .header__top--menu__catalog:hover {
    height: 47px;
    margin-top: -16px;
  }

  .header__top--menu__catalog:hover .header__top--menu-catalog-item {
    height: 46px;
    margin: 0 0 0 -2px;
  }

  .main__slider--categoriesOfproduction-menu {
    margin: 51px 0 0 6.91%;
    flex-wrap: wrap;
  }

  .main__slider--images {
    width: 85.81%;
    max-width: 450px;
    margin: 0 auto;
    height: 375px;
  }

  .main__slider--images-item img {
    width: 100%;
    height: 375px;
    margin: 0;
  }

  .slick-dots {
    display: flex;
    margin: 12px 0 0 36.754%;
  }

  .slick-dots li {
    margin-right: 9px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 25px;
    background-color: rgb(222, 222, 222);
    color: rgb(222, 222, 222);
  }

  .slick-dots li button {
    opacity: 0;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 25px;
    background-color: rgb(222, 222, 222);
    color: rgb(222, 222, 222);
  }

  .slick-active {
    background-color: rgb(246, 130, 53)!important;
  }

  .main__product--selection-title {
    width: 100%;
    margin: 0;
    height: 173px;
  }

  .main__product--selection-title-text {
    margin: 19px 0 0 6.4955%;
    color: black;
    font-size: 1.125rem;
  }

  .main__product--selection-title-text-next {
    margin: 11px 0 0 6.4955%;
    width: 50%;
    line-height: 1.2;
    font-size: 0.875rem;
  }

  .main__product--selection-title-price {
    flex-direction: column;
    position: relative;
  }

  .main__product--selection-title-priceold {
    margin: 31px 0 0 6.262%;
    font-size: 0.875rem;
  }

  .main__product--selection-title-pricenew {
    margin: 6px 0 0 5.32%;
    font-size: 1.5rem;
  }

  .main__product--selection-title-price-discount {
    margin: 0;
    width: 45px;
    position: absolute;
    top: 31px;
    right: 8.26%;
  }

  .main__product--selection-color {
    width: 85.81%;
    margin: 0 auto;
  }

  .main__product--selection-color-text {
    margin: 12px 0 0;
    font-size: 0.75rem;
  }

  .main__product--selection-color-variants {
    margin: 14px 0 0;
  }

  .main__product--selection-size {
    width: 85.81%;
    margin: 0 auto;
  }

  .main__product--selection-size-text {
    margin: 31px 0 0;
    font-size: 0.75rem;
  }

  .main__product--selection-size-text-table {
    margin: 0 0 0 42%;
    font-size: 0.75rem;
  }

  .main__product--selection-size-variants {
    margin: 13px 0 0;
  }

  .main__product--selection-size-linkTryOn {
    margin: 9px 0 0;
    font-size: 0.75rem;
  }

  .main__product--selection-quantity {
    margin: 0 auto;
    padding: 0 0 20px;
    width: 85.81%;
    height: 191px;
  }

  .main__product--selection-quantity-text {
    margin: 51px 0 0;
    font-size: 0.875rem;
  }

  .main__product--selection-quantity-choose-minus {
    margin: 30px 0 0 0.77%;
  }

  .main__product--selection-quantity-choose-plus {
    margin: 31px 0 0 5.49%;
  }

  .main__product--selection-quantity-choose-product {
    width: 35px;
    margin: 22px 0 0 3.484%;
  }

  .main__product--selection-quantity-choose-remainder {
    margin: 20px 0 0 5.3%;
  }

  .main__product--selection-quantity-add-favorite span {
    display: none;
  }

  .main__product--selection-quantity-add-favorite {
    margin: 25px 0 0;
    padding: 3px 0 0;
    width: 35px;
    height: 35px;
  }

  .main__product--selection-quantity-add-favorite .fa {
    margin: 11px 13.85% 0 27.7%;
  }

  .little-heart {
    display: none!important;
  }

  .bigger-heart {
    display: inline-block!important;
  }

  .main__product--selection-quantity-add-tobasket {
    margin: 25px 0 0 5.713%;
    width: 194px;
    height: 37px;
  }

  .main__product--selection-order {
    width: 85.81%;
    margin: 0 auto;
    height: 144px;
  }

  .main__product--selection-order-block-text {
    width: 100%;
  }

  .main__product--selection-order-block-text .fa {
    margin: 15px 0 0;
  }

  .main__product--selection-order-text {
    margin: 25px 0 0 0.49%;
    font-size: 0.75rem;
  }

  .main__product--selection-order-numbersfororder {
    flex-direction: column;
  }

  .main__product--selection-order-numbersfororder-first {
    margin: 2px 0 0 10.185%;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
  }

  .main__product--selection-order-numbersfororder-text {
    display: none;
  }

  .main__product--selection-order-numbersfororder-second {
    margin: 10px 0 0 10.185%;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
  }

  .main__product--selection-order-location-img {
    margin: 7px 0 0;
  }

  .main__product--selection-order-location-link {
    margin: 15px 0 0 2.98%;
    font-size: 0.75rem;
  }

  .main__product--selection-order-location {
    width: 100%;
    padding-bottom: 11px;
  }

  .main__product--selection-about-description-info-code {
    margin: 16px 0 15px;
  }

  .main__product--selection-about {
    margin: 0 auto;
    width: 85.81%;
  }

  .main__product--selection-about-description-text {
    font-size: 1.125rem;
  }

  .main__product--selection-about-description-block {
    padding: 20px 0 15px;
  }

  .main__product--selection-about-description-plus {
    margin: 2px 0 0;
  }

  .main__product--selection-about-description-info p {
    font-size: 0.75rem;
  }

  .main__product--selection-about-description-info p {
    font-size: 0.75rem;
  }

  .main__product--selection-about-description-info p {
    font-size: 0.75rem;
  }

  .main__product--selection-about-description-info-composition {
    margin: 0;
  }

  .main__product--selection-about-description-info-details {
    letter-spacing: 0.2px;
  }

  .main__product--selection-about .main__product--selection-about-description:nth-child(2) .main__product--selection-about-description-block:nth-child(1) {
    padding: 26px 0 20px;
  }

  .main__product--selection-about .main__product--selection-about-description:nth-child(3) .main__product--selection-about-description-block:nth-child(1) {
    padding: 26px 0 20px;
  }

  .main__product--selection-about .main__product--selection-about-description:nth-child(4) .main__product--selection-about-description-block:nth-child(1) {
    padding: 20px 0 22px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .share-links {
    width: 85.81%;
    height: 56px;
    margin: 0 auto;
    justify-content: flex-start;
  }

  .share-links-text {
    margin: 21px 16.154% 0 0;
    font-size: 0.875rem;
    letter-spacing: -0.8px;
  }

  .share-links-twitter {
    margin: 21px 0 0;
  }

  .share-links-google {
    margin: 20px 8.85% 0 0;
  }

  .share-links-vkontakte {
    margin: 21px 8.85% 0 0;
  }

  .share-links-facebook {
    margin: 21px 10.39% 0 0;
  }

  .related-products {
    width: 91.688%;
  }

  .related-products-title {
    margin: 36px 0 21px;
    font-size: 1.125rem;
  }

  .related-products-all {
    padding: 0 0 19px;
  }

  .related-products-all-position-img {
    height: 204px;
  }

  .related-products-all-position-name {
    font-size: 0.75rem;
    letter-spacing: 0.8px;
  }

  .related-products-all-position-about {
    letter-spacing: -0.75px;
    font-size: 0.75rem;
  }

  .related-products-all-position-name {
    margin: 8px 0 0 1px;
  }

  .related-products-all-position-price {
    margin: 8px 0 0;
  }

  .related-products-all-position-price p {
    font-size: 0.625rem;
  }

  .related-products-all-position-price-new {
    margin: 0 0 0 8.962%;
  }

  .see-also {
    width: 85.81%;
    padding: 28px 0 21px;
    flex-direction: column;
  }

  .see-also-text {
    margin: 0;
  }

  .see-also a,
  .see-also p {
    font-size: 0.75rem;
  }

  .see-also-link:nth-child(2) {
    margin: 20px 0 0 0;
  }

  .see-also-link:nth-child(3) {
    margin: 13px 0 0 0;
  }

  .see-also-link:nth-child(4) {
    margin: 13px 0 0 0;
  }

  .see-also-link:nth-child(5) {
    margin: 13px 0 0 0;
  }

  .footer {
    justify-content: center;
  }

  .footer__menu {
    display: none;
  }

  .footer__info {
    width: 100%;
    padding-bottom: 24px;
  }

  .footer__info--logo {
    margin: 25px auto 0;
    width: 54.13%;
  }

  .footer__info--copyright {
    margin: 19px auto 0;
  }

  .footer__info--allright {
    margin: 8px auto 0;
  }

  .footer__info--social-networks {
    width: 78%;
    margin: 19px auto 0;
    justify-content: center;
  }

  .footer__info--social-networks-item {
    margin: 0 6.97% 0 0;
  }

  .footer__info--social-networks-item:nth-child(4) {
    margin: 0;
  }

  .footer__info--pay-partners {
    margin: 20px auto 0;
  }
}
